<nav class="navbar navbar-expand-sm bg-success navbar-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img width="50px" src="static/images/ncadetclogo-removebg-preview.png"> NCC Portal</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Online Shop</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Uniforms</a></li>
                        <li><a class="dropdown-item" href="#">Accessories</a></li>
                        <li><a class="dropdown-item" href="#">Others</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Services</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/kitExchange">Items Exchange</a></li>
                        <li><a class="dropdown-item" href="/kitExchangeCreation">Admin Items Creation</a></li>
                        <li><a class="dropdown-item" href="/kitExchange_Admin">Admin Items Stock</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contactUs">About Us</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Manage Users</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/createUser">Create User</a></li>
                        <li><a class="dropdown-item" href="/retrieveUsers">Retrieve Users</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Manage Events</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/createEvent">Create Event</a></li>
                        <li><a class="dropdown-item" href="/retrieveEvents">Retrieve Event</a></li>
<!--                        <li><a class="dropdown-item" href="">Update Event</a></li>-->
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Events</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/SignUp">Sign Up Event</a></li>
                        <li><a class="dropdown-item" href="/retrieveSignUp">Retrieve Sign Up</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Manage Loans</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/createLoan">Loan Service</a></li>
                        <li><a class="dropdown-item" href="/retrieveLoan">Retrieve Loans</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
