{% extends "base.html" %}
{% block title %}Portal - Events{% endblock %}

{% block content %}
<h2 class="text-center" style="margin-top:110px">Admin Events Update</h2>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-bs-toggle="tab" href="#NDP">National Day Parade</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#KM">Konfrontasi Memorial</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#Camps">NCC Camps</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">

  <div class="tab-pane container-fluid active" id="NDP">

    <br>
    <p>National Day Parade</p>
    <br>
  </div>
  <div class="tab-pane container-fluid fade" id="KM">

    <br>
    <p>Konfrontasi Memorial</p>
    <br>
  </div>
  <div class="tab-pane container-fluid fade" id="Camps">

    <br>
    <p>NCC Camps</p>
    <br>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col"
  </div>
</div>

{% endblock %}
