{% extends "base.html" %}
{% block title %}NCC Singapore - Home{% endblock %}

{% block content %}
<body style="background-image: url('static/images/ricepaper-green.jpg')">
<h1 class="display-4" style="margin-top:110px; color:#FFFFFF; text-align:center">Start Facility Reservation</h1>
<br>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-bs-toggle="tab" href="#CLIMB">Rope Climb</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#ROCKWALL">Rock Climbing</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#FLYINGFOX">Flying Fox</a>
  </li>
</ul>
<div class="tab-content">

  <div class="tab-pane container-fluid active" id="CLIMB">

    <br>
    <h2 style="color:#FFFFFF">Rope Climb</h2>
    <br>
    <form action="/action_page.php">
    <label for="reserverope" style="color:#FFFFFF">Loan Date:</label>
    <input type="date" id="reserverope" name="reserverope">
    <input type="submit" value="Reserve" class="btn btn-primary mt-3"/>
    </form>
  </div>

  <div class="tab-pane container-fluid fade" id="ROCKWALL">
    <br>
    <h2 style="color:#FFFFFF">Rock Climbing</h2>
    <br>
    <form action="/action_page.php">
    <label for="reserverock" style="color:#FFFFFF">Loan Date:</label>
    <input type="date" id="reserverock" name="reserverock">
    <input type="submit" value="Reserve" class="btn btn-primary mt-3"/>
    </form>
  </div>

  <div class="tab-pane container-fluid fade" id="FLYINGFOX">
    <br>
    <h2 style="color:#FFFFFF">Personal Floatation Device Loan</h2>
    <br>
    <form action="/action_page.php">
    <label for="reservefox" style="color:#FFFFFF">Loan Date:</label>
    <input type="date" id="reservefox" name="reservefox">
    <input type="submit" value="Reserve" class="btn btn-primary mt-3"/>
    </form>
  </div>

</div>



</body>
{% endblock %}
