{% extends "base.html" %}
{% block title %}NCC Singapore - Kit Exchange{% endblock %}

<style>
div.items {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.items:hover {
  border: 1px solid #777;
}

div.items img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
</style>
</head>
<div class="responsive">
<div class="items">
  <a target="_blank" href="">
    <img src="//static/images/Beret.PNG" alt="NCC Beret" width="600" height="400">
  </a>
  <div class="desc">NCC Beret</div>
</div>
</div>

<div class="responsive">
<div class="items">
  <a target="_blank" href="">
    <img src="//static/images/UniformPants.PNG" alt="NCC Uniform Pants" width="600" height="400">
  </a>
  <div class="desc">NCC Uniform Pants</div>
</div>
</div>

<div class="responsive">
<div class="items">
  <a target="_blank" href="">
    <img src="//static/images/JockeyCap.PNG" alt="NCC Jockey Cap" width="600" height="400">
  </a>
  <div class="desc">NCC Jockey Cap</div>
</div>
</div>


<div class="responsive">
<div class="items">
  <a target="_blank" href="">
    <img src="//static/images/Badge.PNG" alt="NCC Badge" width="600" height="400">
  </a>
  <div class="desc">NCC Badge</div>
</div>
</div>

<div class="responsive">
<div class="items">
  <a target="_blank" href="">
    <img src="//static/images/UniformTop.PNG" alt="NCC Uniform Attire" width="600" height="400">
  </a>
  <div class="desc">NCC Uniform Attire</div>
</div>
</div>

<div class="responsive">
<div class="items">
  <a target="_blank" href="">
    <img src="//static/images/Boots.PNG" alt="NCC Boots" width="600" height="400">
  </a>
  <div class="desc">NCC Boots</div>
</div>
</div>

<div class="responsive">
<div class="items">
  <a target="_blank" href="">
    <img src="//static/images/Gutters.PNG" alt="NCC Gutters" width="600" height="400">
  </a>
  <div class="desc">NCC Gutters</div>
</div>
</div>

<div class="responsive">
<div class="items">
  <a target="_blank" href="">
    <img src="//static/images/BootLaces.PNG" alt="NCC Boots Laces" width="600" height="400">
  </a>
  <div class="desc">NCC Boots Laces</div>
</div>
</div>

<div class="clearfix"></div>




