{% extends "base.html" %}
{% block title %}Library Loan System - Retrieve events{% endblock %}

{% block content %}
<style>
    input, button, submit
{
  border:none;
}
</style>
<h1 class="display-4" style="margin-top:110px">Items</h1>
<div>
    {% if count == 0 %}
    <p>There are no Items</p>
    {% elif count == 1 %}
    <p>There is 1 Items</p>
    {% else %}
    <p>There are {{ count }} Items</p>
    {% endif %}
</div>
<div>
    <table
            id="table"
            data-toggle="table"
            data-height="460"
            data-show-columns="true"
            data-show-refresh="true"
            data-show-columns-toggle-all="true"
            data-show-pagination-switch="true"
            data-show-toggle="true"
            data-show-fullscreen="true"
            data-buttons="buttons">
        <thead>
        <tr>
            <th data-field="id">ID</th>
            <th data-field="name">Name</th>
            <th data-field="description">Description</th>
            <th data-field="sizes">Up to Sizes</th>
            <th data-field="location">Location</th>
            <th data-field="">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for creation in creation_list %}
        <tr>
            <td>{{creation.get_id()}}</td>
            <td>{{creation.get_name()}}</td>
            <td>{{creation.get_description()}}</td>
            <td>{{creation.get_sizes()}}</td>
            <td>{{event.get_location()}}</td>
            <td style="text-align: center;">
                <div class="dropdown">
                    <button class="btn btn-outline-dark" type="button" id="dropdownMenuButton{{creation.get_id()}}"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-ellipsis-v"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton{{creation.get_id()}}">
                        <li><a class="dropdown-item" href="/updatekitExchange/{{creation.get_id()}}/">Update</a></li>
                        <li><a class="dropdown-item" href="#">
                            <form id="delete{{creation.get_id()}}" action="{{url_for('creation.delete_creation', id=creation.get_id())}}" method="POST">
                                <button type="submit">Delete</button>
                            </form>
                        </a></li>
                    </ul>
                </div>
            </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
</div>

{% endblock %}
