{% extends "base.html" %}
{% block title %}Loan System - Retrieve Kayak Loans{% endblock %}

{% block content %}

<style>
    input, button, submit
{
  border:none;
}
div
</style>
<h1 class="display-4" style="margin-top:110px">Retrieve Loans</h1>
<div>
    {% if count == 0 %}
    <p>There are no loans</p>
    {% elif count == 1 %}
    <p>There is 1 loan</p>
    {% else %}
    <p>There are {{ count }} loans</p>
    {% endif %}
</div>
<div>
    <table
            id="table"
            data-toggle="table"
            data-height="460"
            data-show-columns="true"
            data-show-refresh="true"
            data-show-columns-toggle-all="true"
            data-show-pagination-switch="true"
            data-show-toggle="true"
            data-show-fullscreen="true"
            data-buttons="buttons">
        <thead>
        <tr>
            <th data-field="id">ID</th>
            <th data-field="email">Email</th>
            <th data-field="number">Phone Number</th>
            <th data-field="date">Date</th>
            <th data-field="choice">Choice</th>
            <th data-field="">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for loan in loan_list %}
        <tr>
            <td>{{loan.get_id()}}</td>
            <td>{{loan.get_email()}}</td>
            <td>{{loan.get_number()}}</td>
            <td>{{loan.get_date()}}</td>
            <td>{{loan.get_choice()}}</td>
            <td style="text-align: center;">
                <div class="dropdown">
                    <button class="btn btn-outline-dark" type="button" id="dropdownMenuButton{{loan.get_id()}}"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-ellipsis-v"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton{{loan.get_id()}}">
                        <li><a class="dropdown-item" href="/updateloan/{{loan.get_id()}}/">Update</a></li>
                        <li><a class="dropdown-item" href="#">
                            <form id="delete{{loan.get_id()}}" action="{{url_for('loan.delete_loan', id=loan.get_id())}}" method="POST">
                                <button type="submit">Delete</button>
                            </form>
                        </a></li>
                    </ul>
                </div>
            </td>

            <!--            <td><a href="#" class="btn btn-warning">Update</a></td>-->
            <!--            <td>-->
            <!--                <form action="" method="POST">-->
            <!--                    <input type="submit" value="Delete" class="btn btn-danger">-->
            <!--                </form>-->
            <!--            </td>-->
        </tr>
        {% endfor %}

        </tbody>
    </table>
</div>

<script>

</script>

{% endblock %}

