{% extends "base.html" %}
{% block title %}Portal - Home{% endblock %}

{% block content %}
<body style="background-image: url('static/images/ricepaper-green.jpg')">
<h1 class="text-center text-white"></h1>
<br>
<div class="col d-flex justify-content-center">
  <div class="card shadow w-50">
  <div class="card-header text-center">
      Your Loan Request has been successfully submitted.
  </div>
      <div class="card-body text-center">
          Please verify that your Loan Request details are correct.
          Email={{ email }}

      </div>
</div>
</div>
{% endblock %}
